* {
    -webkit-user-select: text;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

* {
    margin: 0;
    padding: 0;
}

img, video, audio {
    max-width: 100%;
    max-height: 100%;
}

body {
    -webkit-text-size-adjust: none;
    font-family: "微软雅黑",Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    display: -webkit-box;
    /* We want to layout our first container vertically */
    -webkit-box-orient: vertical;
    /* we want our child elements to stretch to fit the container */
    -webkit-box-align: stretch;
    /*background:#F8FAFB;*/
}
/* General styles that apply to elements not contained within other classes and styles */
input, textarea {
    -webkit-user-select: text;
}

section, nav, article, aside, hgroup, header, footer {
    display: block;
}

input, textarea, select, button, table {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

img, fieldset {
    border: 0;
}

ul {
    list-style: none;
}

i, em, address {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-border-radius: 5px;
}



/*div vertical space*/
.blank1 {
    margin: 0 auto;
    height: 1px;
    font-size: 1px;
    clear: both;
    overflow: hidden;
}

.blank2 {
    margin: 0 auto;
    height: 2px;
    font-size: 1px;
    clear: both;
    overflow: hidden;
}

.blank3 {
    margin: 0 auto;
    height: 3px;
    font-size: 1px;
    clear: both;
    overflow: hidden;
}

.blank5 {
    margin: 0 auto;
    height: 5px;
    font-size: 1px;
    clear: both;
    overflow: hidden;
}

.blank8 {
    margin: 0 auto;
    height: 8px;
    font-size: 1px;
    clear: both;
    overflow: hidden;
}

.blank16 {
    margin: 0 auto;
    height: 16px;
    font-size: 1px;
    clear: both;
    overflow: hidden;
}

.blank32{margin:0 auto;height:32px;font-size:1px;clear:both;overflow:hidden}



.clearleft {
    clear: left;
}

.clearboth {
    clear: both;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.flex {
    display: flex;
}

.hide {
    display: none !important;
}

/* 面包屑 */

.dl_nav{ width:100%; height:32px; font-size:14px; line-height:30px; background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fcfcfc),to(#edeff1)); color:#7c7c7c; border-bottom:1px solid #d8d9da; border-top:1px solid #d8d9da; float:left}
.dl_nav span{ height:30px; border-top:1px solid #FFF; border-bottom:1px solid #f5f6f7; display:block;overflow:hidden; text-overflow:ellipsis; white-space: nowrap }
/*
.dl_nav{ width:100%; height:30px; font-size:14px; line-height:30px; background:#f5f6f7; color:#e1e1e1; text-indent:5px; border-bottom:1px solid #e1e1e1; border-top:2px solid #ff7a4c; float:left}
.dl_nav span{ height:30px; display:block;overflow:hidden; text-overflow:ellipsis; white-space: nowrap;border:0 }
*/
.dl_nav span font{ width:7px; height:13px; background-position:0px -169px; display:inline-block }
.dl_nav a{ padding:5px 5px 3px 5px;color:#b2b2b2 }

.city_a{background:#fff; display:inline-block; padding:2px 0 1px 0; padding-right:6px; margin-left:5px; -webkit-border-radius:0; margin-top:0px}
.city_a .city{padding-top:0}
.city_ch{ margin-top:7px;}

 /*.dl_nav a:first-child {padding-left: 0px;}*/

.body_bg{ background:url(/images/h5/sellerlist.png?v=2019092902);}


        .cred, .red_text, .red_link a, .red_a {
            color: #ff0000;
        }

        .cblack {
    color: #000000;
}

        .colormale{
            color:#53C0F9;
        }

        .colorfemale{
            color:#FF7CB6;
        }
       
        div.pagetitle {
            padding-left: 0px;
            padding-right: 8px;
            height: 28px;
            line-height: 28px;
            overflow: hidden;
        }
        .ellipsispart {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-grow: 1;
            padding-right: 4px;
        }

a.linkgray {
    color: gray;
    padding: 0px;
    text-decoration: underline;
}

/*ui*/

.center-in-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
    z-index: 10000;
}


.vblank2{margin:0 1px;width:2px;height:1px; font-size:1px;overflow:hidden}
.vblank4{margin:0 2px;width:4px;height:1px; font-size:1px;overflow:hidden}

.vblank8 {
    margin: 0 4px;
    width: 0px;
    font-size: 1px;
    overflow: hidden;
}

.vblank16 {
    margin: 0 8px;
    width: 0px;
    font-size: 1px;
    overflow: hidden;
}

.vblank32 {
    margin: 0 16px;
    width: 0px;
    font-size: 1px;
    overflow: hidden;
}


/*font size*/
.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f17 {
    font-size: 17px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.f28 {
    font-size: 28px;
}

.f32 {
    font-size: 32px;
}

.fb {
    font-weight: bold;
}

 .relative 
{
     position: relative;
}

    
.singlelinetext{
    white-space: nowrap;text-overflow:ellipsis;overflow:hidden;
}

.common_icon{
    background: url(/images/h5/global.png?v=2017102101);
    background-repeat: no-repeat;
}

/*gototop*/
/*默认样式，主要是position:fixed实现屏幕绝对定位*/
#gotoTop{display:none;position:fixed;right:10px;bottom:10%;cursor:pointer;width:58px;height:58px; text-align:center;border:0px solid #e5e5e5;background-position:0px -58px;}
#gotoTop em{opacity:0;}
/*用CSS表达式(expression)来实现ie6下position:fixed效果*/
#gotoTop{_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px")}
/*鼠标进入的反馈效果*/
#gotoTop:hover{background-position:0px 0px;}

.floatback{
position:fixed;
left:10px;
top:60px;

height:60px;line-height:60px;width:60px;
text-align:center;
vertical-align:middle;
background-color:#ececec; opacity:0.9;border-radius: 50%;
}

.cgray{color:gray;}
/* header */
.body_div{width:100%; height:auto; margin:0 auto;overflow:hidden; }
.index_div{ width:320px; position:relative }
.header{ background: none repeat scroll 0% 0% #FFF;padding:4px 4px 4px 0px;}
.logo{ width:81px; height:22px; background:url(/images/h5/logo.png);  background-size:81px auto; float:left }
a.logo_a{ width:81px; height:22px; display:block; -webkit-border-radius:2px; margin-left:0px; padding:0px; float:left}
.city{ font-size:12px; color:#7c7c7c; padding:11px 5px 0 5px; float:left }
.city_ch{ width:7px; height:4px; background-position:-0px -193px; margin-top:18px; float:left}
.login{ margin-right:5px; padding-top:4px; font-size:14px; color:#3e3e3e; float:right; white-space: nowrap; }
.login span{ margin-left:1px }
.login span.login_in{ width:56px; display:inline-block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#7c7c7c; display:none; text-align:right }
.login a{ padding:5px 5px 3px 3px }

.city_a{background:#fff; display:inline-block; padding:2px 0 1px 0; padding-right:6px; margin-left:5px; -webkit-border-radius:0; margin-top:0px}
.city_a .city{padding-top:0}
.city_ch{ margin-top:7px;}

/*paging*/
.paging {
    background: #FFF;
    padding: 22px 0px;
    text-align: center;
    line-height: 33px;
    border-top: 1px solid #E0E1E2;
}

    .paging a {
        background: #FFF;
        border: 1px solid #DCDEE0;
        border-radius: 0;
        color: #999;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        height: 33px;
        margin: 5px 1px;
    }

    .paging b {
        background: #DCDEE0;
        border: 1px solid #DCDEE0;
        border-radius: 0;
        color: #999;
        display: inline-block;
        padding: 0px 8px;
        height: 33px;
        margin: 0px 1px;
    }

    .paging a .ico {
        display: inline-block;
        width: 8px;
        height: 10px;
        background: url(/images/h5/sp_ico.png) no-repeat 0 -45px;
        background-size: 11px auto;
    }

    .paging a.prev .ico {
        -webkit-transform: rotate(180deg);
        margin-right: 4px;
    }

    .paging a.next .ico {
        margin-left: 5px;
    }

    .paging .page_sel {
        margin: 0 5px;
        position: relative;
        display: inline-block;
        height: 30px;
        vertical-align: top;
    }

    .paging a.disabled {
        color: #ccc;
    }

    .paging a.hover {
        background: #eceff0;
        background-color: #eceff0;
        color: inherit;
    }


/*footer call*/
.userpeo {
    position: fixed;
    bottom: 0px;
    right: 0px;

    width: 100%;
    height: 40px;
    line-height: 40px;
    
    z-index: 102;
    margin:0px 0px 0px 0px;
    
    border: 0px solid #397300;
    border-radius: 0px;
    
    color: rgb(255, 255, 255) !important;
    opacity:0.9;
    /*font-size: 1.6rem;*/
}
.userpeo li
{
	margin-bottom:5px;
	background-color: #66B601;
	text-align:center;
}

.userpeo li a
{
	padding:0px;
	display:block;
	line-height:40px;
	height:40px;
	text-align:center;
    color:#fff;
}
.a7{
white-space: nowrap;
color:#fff;
display: inline-block;
font-size: 14px;
/*padding-left: 25px;*/
font-style: normal;
padding-left: 40px;
min-width:40px;
background: transparent url("/images/mobile.png") no-repeat scroll 0px 0px;
}

.a8
{
    color:#fff;
    white-space: nowrap;
    display: inline-block;
    font-size: 20px;
    /*padding-left: 25px;*/
    font-style: normal;
    
    min-width:40px;
}

@charset "utf-8";
/* CSS Document */
/* list */
.infolst_w {
}

.infolst li {
    background: #FFF;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #E0E1E2;
    overflow: hidden;
    position: relative;
}

.list-info li strong {
    color: #3F4358;
    font: bold 16px 黑体;
}

.infolst li:first-child {
    border-top: none;
}

.infolst li:last-child {
    border-bottom: none;
}

.infolst li.hover {
    background-color: #e3e4e4;
}

.infolst li a {
    display: block;
    padding: 10px;
    padding-bottom: 3px;
    height: 100%;
    -webkit-border-radius: 0;
}

.infolst dl {
    display: block;
}

.infolst .tit {
    position: relative;
    padding-bottom: 5px;
    /*display:-webkit-box;*/
    -webkit-box-orient: horizontal;
    /*height:22px;
	line-height:18px;*/
}

    .infolst .tit strong {
        display: block;
        overflow: hidden;
        font-size: 16px;
        color: #18191a;
        font-weight: bold;
    }

.infolst .attr {
    font-size: 12px;
    color: #858586;
    line-height: 18px;
}

.infolst .longattr {
    position: relative;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 0px solid #EFEEEE;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    color: #858586;
    font-size: 15px;
}

.infolst .price {
    color: #ff7201;
}

.infolst .attr_v {
    color: #858586;
}

.infolst .attr span {
    display: inline-block;
    height: 18px;
    /*max-width:180px;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .infolst .attr span:last-child {
        float: right;
    }

.infolst .attr .tag_w {
    max-width: 240px;
    margin-bottom: 3px;
}

.infolst .attr .tag {
    display: inline-block;
    border: 1px solid;
    text-align: center;
    padding: 0 3px;
    line-height: 16px;
    margin-right: 3px;
}

    .infolst .attr .tag.borc {
        border-color: #efbd76;
    }

    .infolst .attr .tag.borc2 {
        border-color: #89c789;
    }

    .infolst .attr .tag.borc3 {
        border-color: #8fa9df;
    }

    .infolst .attr .tag.borc4 {
        border-color: #ef998f;
    }

.view_more {
    height: 45px;
    line-height: 45px;
    text-align: center;
}

    .view_more.hover {
        background-color: #e3e4e4;
    }

.bg_layer {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
}

.not_more_info {
    text-align: center;
    height: 45px;
    line-height: 45px;
    color: #5c677d;
}


@-webkit-keyframes ico_loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }

    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}
/* list icon public */

.infolst li .ico_v.qiye {
    background-position: 0 -96px;
}

.infolst li .ico_v.geren {
    background-position: 0 -85px;
}

.infolst li .ico.tu {
    width: 15px;
    height: 15px;
    background-position: 0 -213px;
}

.infolst li .ico.wlt {
    width: 14px;
    height: 15px;
    background-position: 0 -35px;
}

.infolst li .ico.yan {
    width: 15px;
    height: 15px;
    background-position: 0 -70px;
}

.infolst li .ico.ding {
    position: absolute;
    right: 0;
    top: 3px;
    width: 14px;
    height: 14px;
    background-position: 0 -105px;
}

.infolst li .ico.ding_d {
    position: absolute;
    right: 0;
    top: 3px;
    width: 14px;
    height: 14px;
    background-position: 0 -140px;
}

.infolst li .ico.zhijie {
    background: yellow;
    font-size: 14px;
    color: #000;
    text-indent: 0;
    vertical-align: 0;
}

.infolst li .ico.biz {
    position: absolute;
    right: 0;
    top: 2px;
    background-image: none;
    font-size: 12px;
    color: #F60;
    text-indent: 0;
    vertical-align: 0;
}

.infolst li .ico_xb.qiandai {
    width: 17px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}

.infolst li .ico_xb.qiandai_1 {
    background-position: 0 0;
}

.infolst li .ico_xb.qiandai_2 {
    background-position: 0 -16px;
}

.infolst li .ico_xb.qiandai_3 {
    background-position: 0 -33px;
}

.infolst li .ico_xb.qiandai_4 {
    background-position: 0 -49px;
}

.infolst li .ico_xb.qiandai_5 {
    background-position: 0 -66px;
}

.infolst li .ico_xb.qiandai_6 {
    background-position: 0 -83px;
}

.infolst li .ico_xb.qiandai_7 {
    background-position: 0 -99px;
}

.infolst li .ico_xb.qiandai_8 {
    background-position: 0 -116px;
}

.infolst li .ico_xb.qiandai_9 {
    background-position: 0 -132px;
}

.infolst li .ico_xb.danbao {
    background-position: 0 -125px;
    background-size: 14px auto;
    width: 14px;
    height: 16px;
    position: relative;
    top: 2px;
    left: -4px;
}

/* filter new */
.filter {
    border-bottom: 1px solid #D1D2D7;
    clear: both;
    position: relative;
    overflow: hidden;
    background: #F9F9F9;
    /*height:0;*/
    overflow: hidden;
    -webkit-transition: height 500ms ease-out;
}

.filter_item {
    overflow: hidden;
    border-top: 1px dashed #d3d3d3;
    line-height: 28px;
    padding: 8px 0 8px 12px;
    position: relative;
}

    .filter_item:nth-of-type(1) {
        border-top-style: solid;
    }

    .filter_item::before {
        border: 4px solid transparent;
        border-left-color: #FC9B4D;
        content: '';
        height: 0;
        left: 4px;
        position: absolute;
        top: 18px;
        width: 0;
    }

    .filter_item dt {
        color: #3F4358;
        float: left;
        height: 28px;
        text-align: left;
        font-size: 14px;
    }

    .filter_item[type="footmark"] a {
        display: block;
        overflow: hidden;
    }

    .filter_item dd {
        padding-left: 10px;
        overflow: hidden;
        position: relative;
        /*height:28px;*/
    }

        .filter_item dd a {
            color: #7A7E88;
            display: inline-block;
            height: 28px;
            line-height: 28px;
            padding: 0 5px;
            border-radius: 0;
            /*vertical-align: middle;*/
        }

            .filter_item dd a.selected, .filter_item dd a.light {
                background-color: #4ACD12;
                border-radius: 3px;
                color: #fff;
                height: 18px;
                line-height: 18px;
            }

        .filter_item dd .ico_more {
            position: absolute;
            right: 1px;
            top: -6px;
            width: 34px;
            height: 40px;
            cursor:pointer;
            transition: all 0.5s;
        }

            .filter_item dd .ico_more:after {
                display: block;
                position: absolute;
                right: 12px;
                top: 12px;
                content: "";
                width: 7px;
                height: 7px;
                border-top: 2px solid #C0C0C1;
                border-right: 2px solid #C0C0C1;
                -webkit-transform: rotate(135deg);
            }

            .filter_item dd .ico_more.up {
                -webkit-transform: rotate(-180deg);
            }

        .filter_item dd span {
            color: #ff6000;
            font-weight: bold;
            padding: 0 3px;
        }

.filter_more {
    background: #FFF;
    color: #BFBFBF;
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-top: 1px solid #E3E3E3;
}

    .filter_more .arrow {
        display: inline-block;
        width: 10px;
        height: 13px;
        margin-left: 5px;
        vertical-align: -2px;
        background: url("/images/h5/sp_ico.png") no-repeat 2px -85px;
        background-size: 12px auto;
    }

    .filter_more.less .arrow {
        -webkit-transform: rotate(-180deg);
    }

    .filter_more a {
        color: #7A7E88;
        display: block;
        font-size: 13px;
        border-radius: 0;
    }
/* 黄页列表 */
.infolst .tit.fr {
    float: right;
    width: 22px;
    height: 64px;
}

.infolst li .ico_v.wlt {
    width: 10px;
    height: 10px;
    background-size: 15px auto;
    background-position: 0 -24px;
    margin-right: 0;
    margin-left: 8px;
}

.infolst li .ico_v.ding {
    background-position: 0 -101px;
    background-size: 16px auto;
    height: 11px;
    margin-left: 0;
    width: 14px;
}

.infolst li .ico_v.ding2 {
    background-position: 0 -76px;
    background-size: 16px auto;
    height: 11px;
    margin-left: 0;
    width: 14px;
}

.tit {
    /*font-family: 黑体;*/
    font-size: 16px;
    /*padding-right: 18px;*/
}

.attr {
    color: #7A7E88;
}

.body_div > a img {
    vertical-align: top;
}


/*nav*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}



.listwrapper {
    padding: 4px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.listunit {
    border: 1px #e5e5e5 solid;
    margin-bottom: 4px;
    padding: 10px 4px 10px 4px;
    /*background-color:#fff;*/
    background-color: #fff;
    -webkit-border-radius: 7px 7px 7px 7px;
}

.listunitonlya {
    border: 1px #e5e5e5 solid;
    margin-bottom: 4px;
    padding: 0px;
    background-color: #fff;
    -webkit-border-radius: 7px 7px 7px 7px;
}

    .listunitonlya a {
        display: block;
        padding: 10px;
        -webkit-border-radius: 0;
        overflow: hidden;
    }

    .body_div {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

    .iconbgnew {
    background: url(/images/sprites.png?v=2017050901) no-repeat left top;
}

    .icon_wx {
    background-position: -58px -140px;
    width: 63px;
    height: 52px;
    vertical-align: middle;
    display: inline-block;
}

.icon_qqfooter {
    background-position: -120px -140px;
    width: 60px;
    height: 52px;
    vertical-align: middle;
    display: inline-block;
}


.icon_phone {
    background-position: 0px -140px;
    width: 52px;
    height: 52px;
    vertical-align: middle;
    display: inline-block;
}

.icon_phone_mobile {
    background-position: 0px -140px;
    width: 52px;
    height: 52px;
    vertical-align: middle;
    display: inline-block;
}



/*icon*/
.common_icon_all {
    background: url(/images/h5/sellerlist.png?v=2019092902);
    cursor: inherit;
    background-repeat: no-repeat;    
    float: left;
    display: inline-block;
}

.common_icon_comment{
	background-position:  0 0px !important;
    width: 16px;
    height: 16px;
    background-size:16px;    
}

.common_icon_video{
	background-position:  0 -16px !important;
    width: 16px;
    height: 16px;
    background-size:16px;    
}

.common_icon_lbs{
	background-position:  0 -32px !important;
    width: 16px;
    height: 16px;
    background-size:16px;    
}


.common_icon_pin{
	background-position:  0 -48px !important;
    width: 16px;
    height: 16px;
    background-size:16px;    
}

.common_icon_schedule{
	background-position:  0 -64px !important;
    width: 16px;
    height: 16px;
    background-size:16px;    
}


.common_icon_alipay_account{
	background-position:  0 -120px !important;
    width: 24px;
    height: 24px;
    background-size:24px;    
}

.common_icon_alipay_name{
	background-position:  0 -144px !important;
    width: 24px;
    height: 24px;
    background-size:24px;    
}

/* new part */
body 
{
    margin:0 4px;
}

